* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
#root {
  height: 100%;
}

html {
  margin: 0;
  height: 100%;
}
body {
  background: #fff;
  height: 100%;
  margin: 0;
  overflow: hidden;
  min-height: 100px;
}

/*NAVBAR STYLE*/

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #3d3d3d;
  color: #ffc132;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  position: sticky;
  top: 0;
}

.brand-name {
  text-decoration: none;
  color: #ffc132;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.brand-name:hover {
  color: #f05b40;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffc132;
  display: block;
  width: 100%;
}
.navigation-menu li a:hover {
  color: #f05b40;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ffc132;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #f05b40;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 76px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #8f8f8f;
    border-top: 1px solid #ffc132;
    display: none;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: #ffc132;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #666;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}

.logo {
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0.5rem;
}

/*MAIN PAGE STYLE*/

.container {
  width: 100%;
  height: calc(100% - 152px);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8f8f8f;
}
.background {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #8f8f8f;
  height: 100%;
  background: url('../src/img/pexels-tirachard-kumtanom-733856.jpg') center center/cover no-repeat;
}
.welcome-text {
  color: white;
  font-size: 3rem;
  padding: 1.5rem;
}

/*FOOTER STYLE*/

.footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #3d3d3d;
  color: #ffc132;
  box-shadow: 2px 2px 2px 0 rgba(9, 9, 9, 0.23);
}

/*STUDENTS STYLE*/

.table-container {
  width: 80%;
  height: 100%;
  background-color: #666;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 400px;
}

.student-table thead tr {
  background-color: #3d3d3d;
  color: #ffc132;
  height: 40px;
}

.student-table th,
.student-table td {
  padding: 12px, 15px;
}

.student-table tbody tr {
  border-bottom: 1px solid #3d3d3d;
}

.student-table tbody tr:nth-child(even) {
  background-color: #666;
}

.student-table tbody tr:last-of-type {
  border-bottom: 2px solid #3d3d3d;
}

.student-controls {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}
.student-section-title {
  padding: 10px 0 10px 0;
}
.student-input {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-form {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.student-form label {
  margin: 0;
}

.student-form input {
  vertical-align: middle;
  margin: 0px 0px 10px 0;
  padding: 10px;
  border: 1px solid #ffc132;
}

@media screen and (max-width: 768px) {
  .student-form input {
    margin: 10px 0;
  }

  .student-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.add-student-btn {
  width: 100px;
  height: 35px;
  font-size: 16px;
  font-size: 13px;
  border: 2px solid #ffc132;
  border-radius: 5px;
  background-color: #666;
  color: #ffc132;
  transition: background-color 0.2s ease-in-out;
}
.submit-btn {
  height: 30px;
  width: 5rem;
  font-size: 13px;
  border: 2px solid #ffc132;
  border-radius: 5px;
  background-color: #666;
  color: #ffc132;
  transition: background-color 0.2s ease-in-out;
}

.add-student-btn:hover {
  background-color: #f05b40;
  color: black;
  border: 2px solid black;
}

.submit-btn:hover {
  background-color: #f05b40;
  color: black;
  border: 2px solid black;
}

.student-input {
  display: none;
}

.student-input.active {
  display: flex;
}

.add-student-btn.inactive {
  display: none;
}

/*GROUPS STYLE*/

.group-input {
  display: none;
}

.group-input.active {
  display: flex;
}

.group-form {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.group-form label {
  margin: 0px 0px 5px 0;
}

.group-form input {
  vertical-align: middle;
  margin: 0 0px 5px 0;
  padding: 10px;
  border: 1px solid #ffc132;
}

@media screen and (max-width: 768px) {
  .group-form input {
    margin: 10px 0;
  }

  .group-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.student-controls.large {
  height: 40%;
}

.student-controls.small {
  height: 30px;
}

.group-table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 1.3em;
  min-width: 400px;
}

.group-table thead tr {
  background-color: #3d3d3d;
  color: #ffc132;
  height: 40px;
}

.group-table th,
.group-table td {
  padding: 12px 15px;
}

.group-table tbody tr {
  border-bottom: 1px solid #3d3d3d;
}

.group-table tbody tr:nth-child(even) {
  background-color: #666;
}

.group-table tbody tr:last-of-type {
  border-bottom: 2px solid #3d3d3d;
}